:root {
	--max-card-size: 120px;
	--art-margin: 0px;
	--layer-name: block;
	--transparency-bg: #191524;
}

.panel > .content > .previews {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	direction: rtl;
	overflow: auto;
}
.panel > .content.horizontal {
	flex-direction: column;
}
.panel > .content.horizontal > .previews {
	flex-direction: row;
	direction: ltr;
}
.panel > .content > .previews > .block {
	flex-shrink: 0;
	border: 8px solid transparent;
	cursor: pointer;
	overflow: hidden;
}
.panel > .content > .previews > .block.focus {
	border-color: var(--focus-color);
}
.panel > .content > .previews > .block > .card {
	display: block;
	margin: auto;
	width: 120px;
	height: 120px;
	image-rendering: pixelated;
	background: url("../IMG/transparency.png") var(--transparency-bg);
}
.panel > .content > .previews > .block > .name {
	display: var(--layer-name);
	width: 100%;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
}
.panel > .content > .previews > .block.focus > .name {
	background-color: var(--focus-color);
	color: #292336;
}

.panel > .content > .desk {
	position: relative;
	flex-grow: 1;
	overflow: auto;
}
.panel > .content > .desk > .art {
	position: relative;
	margin: var(--art-margin);
	background: url("../IMG/transparency.png") var(--transparency-bg);
}
.panel > .content > .desk canvas {
	position: absolute;
	image-rendering: pixelated;
}
.panel > .content > .desk > .art > .layer {
	width: 100%;
	height: 100%;
}
.panel > .content > .desk > .art.peek > .layer {
	display: none;
}
.panel > .content > .desk > .art.peek > .layer.peek {
	display: block;
}
/* TODO : OPTION TO HIDE LAYERS */
.panel > .content > .desk > .art > .layer.hidden {
	display: none;
}
.panel > .content > .desk > .light {
	margin: var(--art-margin);
	top: 0;
	left: 0;
	cursor: pointer;
}
#wall.crayon > .panel > .content > .desk > .light {
	cursor: url("../IMG/cursor_pen.png"), auto;
}
#wall::before {
	background-image: url("../IMG/workframe_black.svg");
}
