:root {
	--scrollbar-background: #8080ad;
	--scrollbar-size: 8px;
	--wall: #151520;
	--panel: #292336;
	--panel-min-width: 120px;
	--panel-bar-height: 40px;
	--content: #1f1b29;
	--close-button-hover: #471526;
	--resize-color: #d187c5;
}

body,
html,
#wall {
	width: 100%;
	height: 100%;
	background-color: var(--wall);
}
#wall::before {
	content: "";
	opacity: 0.38;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 38vh;
	background-position: center;
}

body.numb {
	pointer-events: none;
}
body.numb.resizing .panel {
	outline: 1px solid var(--resize-color);
	background-color: var(--resize-color);
}

*::-webkit-scrollbar {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
	background-color: var(--panel);
}
*::-webkit-scrollbar-corner {
	background-color: var(--panel);
}
*::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-background);
	border-radius: 1px;
}

.panel {
	border-radius: 1px;
	position: fixed;
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	max-height: 100vh;
	min-width: var(--panel-min-width);
	min-height: var(--panel-bar-height);
	overflow: hidden;
	background-color: var(--panel);
	outline: 1px solid var(--wall);
}
.panel > .bar {
	flex-shrink: 0;
	display: flex;
	height: var(--panel-bar-height);
	width: 100%;
}
.panel.focus > .bar {
	border-top-color: var(--focus-color);
}
.panel > .bar > .grab {
	min-width: var(--panel-bar-height);
	flex-grow: 1;
}
/* TODO : Make Hold to close */
.panel > .bar > .close:hover {
	background-color: var(--close-button-hover);
}
.panel > .bar > .resize {
	background-position: -60px 0px;
}
.panel > .bar > .alternate {
	background-position: 0px -30px;
}
.panel > .bar > .alternate.restore {
	background-position: -30px -30px;
}
.panel.squish > .bar > .resize,
.panel.squish > .bar > .alternate {
	display: none;
}
.panel > .bar > .squish {
	background-position: 0px -60px;
}
.panel.squish > .bar > .squish {
	background-position: -60px -30px;
}
.panel > .bar > .option {
	cursor: pointer;
	height: var(--panel-bar-height);
	width: var(--panel-bar-height);
	opacity: 0.5;
	background-repeat: no-repeat;
	background-image: url("../IMG/panels.png");
}
.panel > .bar > .option:hover {
	opacity: 1;
}
.panel > .content {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: var(--content);
}
.panel.squish > .content {
	display: none;
}
