#WIP {
	position: fixed;
	pointer-events: none;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 32px;
	color: #0d0d14;
	text-transform: uppercase;
}
#INFO {
	position: fixed;
	pointer-events: none;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 22px;
	color: #0d0d14;
	text-transform: uppercase;
	text-align: center;
}
#INFO span {
	color: var(--focus-color);
	animation: blink 2s infinite alternate;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.2;
	}
}
