:root {
	--hotkeys-background: #292336;
	--hotkeys-keys: #1f1b29;
	--hotkeys-separator: #191620;
	--desires-background: #362e23;
	--desires-separator: #221e19;
	--desires-highlights: #aced00;
	--desires-elements: #7b6a51;
	--context-background: #292336;
	--context-elements: #1f1b29;
	--context-highlights: #aced00;
	--art-padding: 16px;
	--focus-color: #0e75a4;
	--layer-name: block;

	--context-menu: none;
	--context-menu-left: 0px;
	--context-menu-right: 0px;
	--fade-screen: hidden;
}

@font-face {
	font-family: "Comfortaa";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../../rsc/font/Comfortaa-Regular.ttf") format("truetype");
}

* {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	color: #ffffff;
	font-size: 16px;
	font-family: Comfortaa, sans-serif;
	cursor: default;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	overflow: hidden;
}

/* Fade Screen */
#fade_screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	z-index: 998;
	visibility: var(--fade-screen);
}
#fade_screen > .modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	max-height: calc(100% - 150px);
	z-index: 999;
	transform: translate(-50%, -50%);
	overflow-y: auto;
	border-radius: 5px;
	display: none;
}
#fade_screen > .modal > .row {
	display: flex;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	padding: 0 24px;
}
#fade_screen > .modal > .row > .text {
	flex-grow: 1;
}
#fade_screen > .modal.active {
	display: block;
}

/* Hotkeys */
#hotkeys_menu {
	background-color: var(--hotkeys-background);
}
#hotkeys_menu > .row > .keys {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#hotkeys_menu > .row > .keys > .key {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: var(--hotkeys-keys);
}

/* Desires */
#desires_menu {
	background-color: var(--desires-background);
}
#desires_menu > .row.category {
	height: 36px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 2px;
	background-image: radial-gradient(
		circle,
		var(--desires-highlights) 0%,
		var(--desires-elements) 100%
	);
}
#desires_menu > .row.category > .text {
	color: var(--desires-background);
	font-size: 14px;
}
#desires_menu > .row > input,
#desires_menu > .row > .reset,
#desires_menu > .row > .display {
	align-items: stretch;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: auto;
	cursor: pointer;
}
#desires_menu > .row > .display {
	cursor: default;
}
#desires_menu > .row > input {
	border: 2px solid var(--desires-elements);
	border-radius: 2px;
}
#desires_menu > .row > input[type="checkbox"] {
	font-size: 24px;
	border: 2px solid var(--desires-elements);
}
#desires_menu > .row > input[type="checkbox"]:checked {
	background-color: var(--desires-elements);
}
#desires_menu > .row > input[type="checkbox"]:checked::before {
	content: "✔";
	color: var(--desires-highlights);
}
#desires_menu > .row > input[type="color"] {
	border-radius: 50%;
}
#desires_menu > .row > input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
#desires_menu > .row > input[type="color"]::-webkit-color-swatch {
	border: none;
}
#desires_menu > .row > input[type="range"] {
	border: none;
	width: 100px;
	background-color: var(--desires-elements);
	height: 4px;
	overflow: visible;
}
#desires_menu > .row > input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 4px;
	height: 16px;
	border-radius: 2px;
	background-color: var(--desires-highlights);
}
#desires_menu > .row > .reset {
	width: 28px;
	height: 28px;
	margin: auto 5px;
	display: none;
	cursor: pointer;
}
#desires_menu > .row > .reset:hover {
	background-color: var(--desires-elements);
	color: var(--desires-highlights);
	border-radius: 5px;
}
#desires_menu > .row > .reset.visible {
	display: block;
}

/* Context */
#context_menu {
	display: var(--context-menu);
	top: var(--context-menu-top);
	left: var(--context-menu-left);
	position: fixed;
	display: flex;
	flex-direction: column;
	padding: 4px;
	border-radius: 2px;
	transform: translate(-2px, -2px);
	background-color: var(--context-background);
	z-index: 999;
}
#context_menu > .row {
	padding: 5px 20px;
	font-size: 12px;
	cursor: pointer;
}
#context_menu > .row:hover {
	background-color: var(--context-elements);
}
#context_menu > .row:hover:active {
	background-color: var(--context-highlights);
}

/* Panel Stack */
.panel > .content > .stack {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 120px;
	height: 100%;
	direction: rtl;
	overflow-y: auto;
}
.panel > .content > .stack > .block {
	width: 100px;
	max-height: calc(100px + 20px);
	margin: 2px auto 8px auto;
	outline: 2px solid transparent;
}
.panel > .content > .stack > .block.focus {
	background: var(--focus-color);
	outline: 2px solid var(--focus-color);
}
.panel > .content > .stack > .block > .card {
	display: block;
	margin: auto;
	width: 100px;
	height: 100px;
	cursor: pointer;
	image-rendering: pixelated;
	background-image: url("../../rsc/transparency.png");
}
.panel > .content > .stack > .block > .title {
	display: var(--layer-name);
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
}

/* Panel Workbench */
.panel > .content > .workbench {
	position: relative;
	flex-grow: 1;
	overflow: auto;
}
.panel > .content > .workbench > .art {
	padding: var(--art-padding);
	cursor: crosshair;
}
.panel > .content > .workbench > .art canvas {
	pointer-events: none;
	image-rendering: pixelated;
	position: absolute;
	width: 100%;
	height: 100%;
}
.panel > .content > .workbench > .art > .background {
	position: absolute;
	background-image: url("../../rsc/transparency.png");
}

/* Logo */
#wall::before {
	background-image: url("rsc/workframe_black.svg");
}
